<img id="analytics" class="hidden" />
<mat-toolbar color="primary">
  <span>{{ steps[currentStep].title }}</span>
  <span fxFlex></span>
  <img *ngIf="toolbarIconEnabled" class="toolbar-icon" [src]="toolbarIcon.url"
       [alt]="toolbarIcon.altText" role="presentation" />
</mat-toolbar>
<loaner-flow-sequence>
  <loaner-return-instructions [flow]="flows.OFFBOARDING"
                              loanerFlowChild
                              [chromeApp]="true">
  </loaner-return-instructions>
  <survey loanerFlowChild
          [chromeApp]="true">
  </survey>
  <div class="flow-container">
    <loaner-text-card loanerFlowChild
                      [title]="returnPage.title"
                      [body]="returnPage.body">
    </loaner-text-card>
    <loaner-text-card loanerFlowChild
                      [title]="logoutPage.title"
                      [body]="logoutPage.body">
    </loaner-text-card>
  </div>
</loaner-flow-sequence>
<div class="navigation-progress">
  <loaner-flow-sequence-buttons [steps]="steps" [navLabels]="labels">
    <button returnButton mat-mini-fab color="primary" (click)="backToManage()"
            matTooltip="Return to the management window."
            matTooltipPosition="right" [disabled]="!flowSequenceButtons.allowButtonClick">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </loaner-flow-sequence-buttons>
  <loaner-progress [current]="currentStep" [max]="maxStep"></loaner-progress>
</div>
<img *ngIf="backgroundLogoEnabled" [src]="backgroundLogo.url"
     class="logo-background" aria-hidden="true"
     [alt]="backgroundLogo.altText"
     role="presentation" />
