@import '../../assets/global';

.animation-menu-icon {
  bottom: 3px;
  opacity: .4;
  position: absolute;
  right: 33px;
  z-index: 1;
}

.welcome-animation {
  margin: 20px;
  position: relative;
  text-align: center;
}

.welcome-animation video {
  text-align: center;
  vertical-align: middle;
}

.continue-text {
  font-size: 14px;
  font-style: italic;
  line-height: 200%;
  text-align: right;
}

.welcome-card {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
}

.welcome-icon {
  vertical-align: middle;
}

.welcome-text {
  font-size: 14px;
  font-style: bold;
  line-height: 200%;
}
