<div *ngIf="welcomeAnimationEnabled" class="welcome-animation">
  <button mat-icon-button class="animation-menu-icon"
          aria-label="Open the animation menu."
          i18n-aria-label="Open the animation menu.">
    <mat-icon matTooltip="Animation settings"
              (click)="openAnimationMenu()">
      dvr
    </mat-icon>
  </button>
  <video autoplay loop width="600" height="400"
         matTooltip="Click to play/pause the animation."
         [playbackRate]="playbackRate"
         #welcomeAnimation [attr.aria-label]="welcomeAnimationAltText"
         (click)="playPauseAnimation()" tabindex="0" loaner-focus>
    <source [src]="welcomeAnimationURL" type="video/mp4">
  </video>
</div>

<div *ngIf="!welcomeAnimationEnabled" class="welcome-card">
  <mat-card tabindex="0" loaner-focus>
    <h1 class="card-title">
      Let's get started
    </h1>
    <p class="card-description">
      Welcome to your {{ programName }} Chromebook loaner. This device can access any websites,
      Chrome extensions, and Chrome apps allowed on your organization's network. Below are three simple
      steps to finish setting it up.
    </p>
    <p class="welcome-text">
      <mat-icon color="primary" class="welcome-icon">question_answer</mat-icon>
      Answer a quick question about your needs for this loaner device.
    </p>
    <p class="welcome-text">
      <mat-icon color="primary" class="welcome-icon">date_range</mat-icon>
      Pick a return date.
    </p>
    <p class="welcome-text">
      <mat-icon color="primary" class="welcome-icon">done</mat-icon>
      Want to adjust your loan? Visit the app on the bottom drawer/shelf.
    </p>
    <br>
    <p class="continue-text">
      To get started, click the arrow.
    </p>
  </mat-card>
</div>
