<div *ngIf="toBeSubmitted && !loading">
  <p matDialogTitle>Oh no!</p>
  <div mat-dialog-content>
    <p>
      Are you sure that this device is lost?
    </p>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="primary" (click)="reportLost()"
            id="yes"
            class="action-button">
      Yes
    </button>
    <button mat-button (click)="closeDialog()"
            id="cancel"
            class="action-button"
            matTooltip="This will take you back to the management screen.">
      Cancel
    </button>
  </div>
</div>

<div *ngIf="loading" class="lost-loading">
  <loaner-loader></loaner-loader>
</div>

<div *ngIf="!toBeSubmitted && !loading" tabindex="0" loaner-focus>
  <h1 mat-dialog-title>Thanks and sorry for the inconvenience!</h1>
  <div mat-dialog-content>
    <p>{{ lostReturnMessage }}</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="closeDialog()"
            id="close"
            class="action-button"
            matTooltip="This will take you back to the management screen.">
      Close
    </button>
  </div>
</div>
