<mat-card>
  <div>
    <p>
      <ng-container *ngIf="device.pendingReturn">
        This device is marked as being returned. If you would like to resume
        your loan, please click the button below.
      </ng-container>

      <ng-container *ngIf="!device.pendingReturn">
        <ng-container *ngIf="device.isLoanHealthy">
          <img alt="Icon representing the device's loan status as healthy"
               src="../../../assets/healthy.svg" class="device-status"
               *ngIf="showImage">
          <div class="mat-title">
            Your loaner is due on {{ device.dueDate | date: 'fullDate' }}
          </div>
          <span class="mat-body">
            Please return your loaner on time for your fellow colleague to use next.
          </span>
        </ng-container>

        <ng-container *ngIf="device.overdue">
          <img alt="Icon representing the device's loan status as overdue"
               src="../../../assets/overdue.svg" class="device-status"
               *ngIf="showImage">
          <div class="mat-overdue">
            Your loaner was due on {{ device.dueDate | date: 'fullDate' }}
          </div>
          <span class="mat-small">
            Please return your loaner on time for your fellow colleague to use next.
          </span>
        </ng-container>

        <ng-container *ngIf="device.isAlmostOverdue">
          <img alt="Icon representing the device's loan status as almost overdue"
               src="../../../assets/almost_overdue.svg" class="device-status"
               *ngIf="showImage">
          <div class="mat-overdue">
            Your loaner is almost overdue {{ device.dueDate | date: 'fullDate' }}
          </div>
          <span class="mat-small">
            Please return your loaner on time for your fellow colleague to use next.
          </span>
        </ng-container>
      </ng-container>
    </p>
    <div *ngIf="!device.pendingReturn">
      <ng-content select="loan-button[extendButton]"></ng-content>
      <ng-content select="loan-button[guestButton]"></ng-content>
      <ng-content select="loan-button[returnButton]"></ng-content>
    </div>
  </div>
  <div>
    <ng-content *ngIf="device.pendingReturn" select="loan-button[resumeButton]"></ng-content>
    <ng-content select="loan-button[damagedButton]"></ng-content>
    <ng-content select="loan-button[lostButton]"></ng-content>
  </div>
</mat-card>
