@import '../../../themes/standard';
@import '../../../scss/loaner-chips';

mat-card {
  text-align: center;
  width: 570px;
  margin-bottom: 20px;
}

.action-button {
  margin: 12px;
  width: 150px;
}

.date-container {
  margin: 10px;
}
