<mat-card>
  <div>
    <h1 class="mat-title">
      Maintain your loan
    </h1>
    <p class="card-description">
      <ng-container *ngIf="pendingReturn">
        This device
        <ng-container *ngIf="oneOfMany">
          ({{ assetTag ? 'asset tag' : 'serial number' }} {{ assetTag ? assetTag : serialNumber }})
        </ng-container>
        is marked as being returned. If you would like to resume your loan,
        please click the button below.
      </ng-container>
      <ng-container *ngIf="dueDate && !pendingReturn">
        <p>
          Please return this device
          ({{ assetTag ? 'asset tag' : 'serial number'}} {{assetTag ? assetTag : serialNumber }})
          by:
        </p>
        <span class="mat-title">{{ dueDate | date: 'fullDate' }}</span>
      </ng-container>
    </p>
    <div *ngIf="!pendingReturn">
      <ng-content select="loan-button[extendButton]"></ng-content>
      <ng-content select="loan-button[guestButton]"></ng-content>
      <ng-content select="loan-button[returnButton]"></ng-content>
    </div>
  </div>
  <div *ngIf="pendingReturn">
    <ng-content select="loan-button[resumeButton]"></ng-content>
  </div>
  <div>
    <ng-content select="loan-button[damagedButton]"></ng-content>
    <ng-content select="loan-button[lostButton]"></ng-content>
  </div>
</mat-card>
