<div class="troubleshoot-card">
  <mat-card tabindex="0" loaner-focus>
    <h1 class="mat-title">
      Having issues?
    </h1>
    <p class="card-description">
        {{ troubleshootingInformation }}
    </p>
    <div>
      <div fxLayout="row"
           fxLayoutAlign="center center"
           *ngFor="let phone of contactPhone">
        <mat-icon>phone</mat-icon>
        <span class="icon-padding"></span>
        {{ phone }}
      </div>
      <div *ngIf="contactEmail"
           fxLayout="row"
           fxLayoutAlign="center center">
        <mat-icon>email</mat-icon>
        <span class="icon-padding"></span>
        {{ contactEmail }}
      </div>
      <div *ngIf="contactWebsite"
           fxLayout="row"
           fxLayoutAlign="center center">
        <mat-icon>web</mat-icon>
        <span class="icon-padding"></span>
        <a target="_blank" [href]="contactWebsite">{{ contactWebsite }}</a>
      </div>
    </div>
  </mat-card>
</div>
