<div class="troubleshoot-card">
  <mat-card tabindex="0" loaner-focus>
    <h1 class="mat-title">
      Having issues?
    </h1>
    <p class="card-description">
        {{ troubleshootingInformation }}
    </p>
    <div fxLayout="column" fxLayoutAlign="center center">
      <strong *ngIf="contactPhone">Phone Support</strong>
      <div fxLayout="row"
           fxLayoutAlign="center center"
           *ngFor="let phone of contactPhone">
        {{ phone }}
      </div>
      <strong *ngIf="contactEmail">E-mail Support </strong>
      <div *ngIf="contactEmail"
           fxLayout="row"
           fxLayoutAlign="center center">
        {{ contactEmail }}
      </div>
      <strong *ngIf="contactWebsite">Web Support </strong>
      <div *ngIf="contactWebsite"
           fxLayout="row"
           fxLayoutAlign="center center">
        <a target="_blank" [href]="contactWebsite">{{ contactWebsite }}</a>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center end">
      <button mat-icon-button
              (click)="openDebugView()"
              id="debug"
              matTooltip="Open the debugger">
        <mat-icon>error_outline</mat-icon>
      </button>
    </div>
  </mat-card>
</div>
