<mat-card class="loaner-table">
  <mat-card-title class="title">
    <button (click)="editing ? backToShelfDetails() : backToShelves()" class="button-icon"
            mat-icon-button>
      <mat-icon matTooltip="Back" matTooltipPosition="above">
        arrow_back
      </mat-icon>
    </button>
    <span>
      {{editing ? 'Update shelf' : 'Create shelf'}}
    </span>
  </mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="editing ? update() : create()" #shelfActionsForm="ngForm">
      <section fxLayout="row" fxLayout.xs="column">
        <mat-form-field fxFlex>
          <input matInput id="location" required placeholder="Location"
                [(ngModel)]="shelf.location" name="location">
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput id="name" placeholder="Friendly Name"
                [(ngModel)]="shelf.friendlyName" name="name">
        </mat-form-field>
      </section>
      <section fxLayout="row" fxLayout.xs="column">
        <mat-form-field fxFlex>
          <input matInput required type="number" step="1.0" min="1" placeholder="Capacity"
                 [(ngModel)]="shelf.capacity" #capacityControl="ngModel" name="capacity"
                 loanerMinValidator="1">
          <mat-error *ngIf="!capacityControl.valid">Capacity should be 1 or more</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
            <input matInput type="number" step="0.1" placeholder="Latitude"
                   [ngModel]="shelf.latitude | number: '1.1'"
                   (ngModelChange)="shelf.latitude=$event" name="latitude">
        </mat-form-field>
        <mat-form-field fxFlex>
            <input matInput type="number" step="0.1" placeholder="Longitude"
                    [ngModel]="shelf.longitude | number: '1.1'"
                    (ngModelChange)="shelf.longitude=$event" name="longitude">
        </mat-form-field>
        <mat-form-field fxFlex>
            <input matInput type="number" step="0.1" placeholder="Altitude"
                    [ngModel]="shelf.altitude | number: '1.1'"
                    (ngModelChange)="shelf.altitude=$event" name="altitude">
        </mat-form-field>
      </section>
      <section fxLayout="row" fxLayout.xs="column">
        <mat-slide-toggle [(ngModel)]="shelf.auditNotificationEnabled"
                          name="auditNotificationEnabled"
                          fxFlex="50%">
          Enable shelf audit notifications
        </mat-slide-toggle>
        <mat-select placeholder="Responsible for Audit"
                   [(ngModel)]="shelf.responsibleForAudit"
                   name="responsibleForAudit"
                   fxFlex="50%">
          <mat-option *ngFor="let responsible of responsiblesForAuditList"
                      [value]="responsible">{{responsible}}</mat-option>
        </mat-select>
      </section>
      <p>
        <button mat-raised-button type="submit" color="primary"
                [disabled]="!shelfActionsForm.form.valid || !capacityControl.valid">
          Submit
        </button>
      </p>
    </form>
  </mat-card-content>
</mat-card>
