@import '../../scss_mixins/loaner-table';

.action-box {
  height: 0;
  overflow: hidden;
}

.action-box-content {
  padding: 16px 24px;
}

h2 {
  clear: left;
  float: left;
}

.close-button {
  margin: auto 0;
}

.mat-select {
  padding-top: 10px;
}

.action-button {
  margin-top: 15px;
}

.mat-form-field {
  margin: 5px;
}
