@import '../assets/global';

:host {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.colored-nav {
  background-color: $off-white;
}

.hidden {
  display: none;
}

.mat-horizontal-content-container {
  display: none;
}

.navigation-buttons {
  padding-left: 16px;
  padding-right: 16px;
}

.navigation-progress {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.sub-text {
  font-size: 12px;
}

.toolbar-icon {
  padding: 0 14px;
}
