<mat-card class="loaner-table">
  <mat-card-title>
    <span class="title">
      Returned Loans History
    </span>
  </mat-card-title>
  <mat-card-content>
    <mat-table #table [dataSource]="dataSource">
      <ng-container cdkColumnDef="identifier">
        <mat-header-cell *cdkHeaderCellDef> Identifier </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.serialNumber}} </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="assignedOnDate">
        <mat-header-cell *cdkHeaderCellDef> Picked up </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.assignedOnDate | date}} </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="lastUpdate">
        <mat-header-cell *cdkHeaderCellDef> Returned On </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.lastUpdate | date}} </mat-cell>
      </ng-container>

      <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
