<div class="body-container">
  <mat-toolbar class="loaner-toolbar mat-elevation-z3">
    <span class="flex-1">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="middle-align">{{ title }}</span>
    </span>
    <loaner-search-box class="flex-1" *ngIf="canShowSearchBox()">
    </loaner-search-box>
    <span class="flex-1"></span>
  </mat-toolbar>
  <!--  App's main loader on the toolbar. This loader loads if anything is tried to be retrieved
        from own application's endpoints. -->
  <loaner-loader class="app-loader" loaderType="bar" [loading]="pending">
  </loaner-loader>
  <mat-sidenav-container class="flex-1">
    <mat-sidenav #sidenav mode="over" class="loaner-sidenav">
      <mat-nav-list>
        <div *ngFor="let navigationItem of navigationItems">
          <ng-container *ngIf="canShow(navigationItem)">
            <a mat-list-item
               *ngIf="navigationItem.routerLink"
               (click)="sidenav.close()"
               routerLink="{{navigationItem.routerLink}}"
               routerLinkActive="active">
              <mat-icon class="loaner-sidenav-icon">{{navigationItem.icon}}</mat-icon>
              {{navigationItem.name}}
            </a>
            <a *ngIf="navigationItem.url && !navigationItem.routerLink" target="_blank"
               mat-list-item href="{{navigationItem.url}}">
              <mat-icon class="loaner-sidenav-icon">{{navigationItem.icon}}</mat-icon>
                {{navigationItem.name}}
            </a>
          </ng-container>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <div class="loaner-body-content">
      <!--  Spinning loader for when gapi auth is not loaded yet.  -->
      <loaner-loader [loading]="loading"></loaner-loader>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
</div>
