<div *ngIf="toBeSubmitted && !loading">
  <p matDialogTitle>Mark device repaired</p>
  <div mat-dialog-content>
    <p>
      Are you sure you want to mark this device {{deviceId}} as no longer being damaged?
      You should only do this if you have confirmed that the device's reported damage has been fixed.
    </p>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="primary"
            (click)="undamaged()"
            id="yes"
            class="action-button">
      Yes
    </button>
    <button mat-button
            (click)="closeDialog()"
            id="cancel"
            class="action-button"
            matTooltip="This will take you back to the management screen.">
      Cancel
    </button>
  </div>
</div>

<div *ngIf="loading" class="undamaged-loading">
  <loaner-loader></loaner-loader>
</div>

<div *ngIf="!toBeSubmitted && !loading" tabindex="0" loaner-focus>
  <h1 mat-dialog-title>Success!</h1>
  <div mat-dialog-content>
    <p> Device {{deviceId}} is no longer marked as damaged. </p>
  </div>
  <div mat-dialog-actions>
    <button mat-button
            (click)="closeDialog()"
            id="close"
            class="action-button"
            matTooltip="This will take you back to the management screen.">
      Close
    </button>
  </div>
</div>
