<div *ngIf="loading">
  <loaner-loader></loaner-loader>
</div>

<div *ngIf="!loading" class="status-box">
  <loaner-greetings-card [userDisplayName]="device.givenName"
                         [hasDevices]="hasDevices">
  </loaner-greetings-card>
  <br />

  <loaner-loan-actions-card tabindex="0"
                            [additionalManagementText]="additionalText"
                            [device]="device">
    <loan-button extendButton (done)="onExtended($event)"></loan-button>
    <loan-button guestButton (done)="onGuestModeEnabled()"></loan-button>
    <loan-button returnButton (done)="onReturned()"></loan-button>
    <loan-button damagedButton (done)="onDamaged($event)"></loan-button>
    <loan-button resumeButton (done)="onLoanResumed($event)"></loan-button>
  </loaner-loan-actions-card>
</div>
