<div *ngIf="loading">
  <loaner-loader></loaner-loader>
</div>

<div *ngIf="surveyNew"
     [class.survey-card-chrome]="chromeApp">
  <mat-card tabindex="0" loaner-focus>
    <h1 class="card-title">
      {{ surveyData.question_text }}
    </h1>
    <p *ngIf="surveyDescription" class="card-description">
      {{ surveyDescription }}
    </p>
    <mat-radio-group [(ngModel)]="surveyAnswer"
                     (ngModelChange)="onChange()"
                     class="mat-subheading-1 question">
      <div *ngFor="let question of surveyData.answers">
        <ng-template [ngIf]="!question.more_info_enabled">
          <mat-radio-button [value]="question">
            {{ question.text }}
          </mat-radio-button>
        </ng-template>
        <ng-template [ngIf]="question.more_info_enabled">
          <mat-radio-button [value]="question">
            {{ question.text }}
          </mat-radio-button>
          <ng-template [ngIf]="surveyAnswer && (surveyAnswer.text === question.text)">
            <br />
            <mat-form-field class="full-width">
              <input matInput class="flex-1" (ngModelChange)="onChange($event)"
                     [placeholder]="question.placeholder_text"
                     [(ngModel)]="userInput">
            </mat-form-field>
          </ng-template>
        </ng-template>
      </div>
    </mat-radio-group>
  </mat-card>
</div>

<div *ngIf="surveyNotGiven"
     [class.survey-card-chrome]="chromeApp">
  <mat-card tabindex="0" loaner-focus>
    <p>
      Sorry, looks like we don't have a survey for you. Continue through to the next step.
    </p>
  </mat-card>
</div>
