@import '../../themes/standard';

.centered {
  text-align: center;
}

.full-width {
  width: 100%;
}

.question {
  line-height: 300%;
}

.survey-card {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
