<div *ngIf="loading" class="return-loading">
  <loaner-loader></loaner-loader>
</div>

<div *ngIf="!loading" class="return-card">
  <mat-card tabindex="0" loaner-focus>
    <h1 class="card-title">
      Choose a return date
    </h1>
    <p class="card-description">
      Please select an anticipated return date. You can always extend this later if you need to.
    </p>
    <br/>
    <div class="date-picker">
      <mat-form-field>
        <input matInput [matDatepicker]="picker"
               placeholder="Choose your return date"
               [(ngModel)]="newReturnDate"
               (ngModelChange)="returnService.updateNewReturnDate(newReturnDate)"
               [min]="getMinimumReturnDate()"
               [max]="device.maxExtendDate"
               [maxlength]="10"
               (keypress)="validateField($event)"
               required>
        <mat-datepicker-toggle matSuffix [for]="picker">
        </mat-datepicker-toggle>
      </mat-form-field>
      <mat-datepicker touchUi="true" #picker></mat-datepicker>
      <mat-error *ngIf="!validDate">
        The date you selected was invalid!
      </mat-error>
    </div>
  </mat-card>
</div>

<div *ngIf="!loading && !device.dueDate" class="return-card">
  <mat-card tabindex="0" loaner-focus>
    <h1 class="card-title">
      Oh no! There was an issue
    </h1>
    <p>
      We were unable to retrieve necessary information about this loan. You can extend/set your
      preferred due date on the status page of your loan later on or through our
      <a [href]="webAppUrl" target="_blank">web application</a>.
      We're sorry for any inconvenience!
    </p>
  </mat-card>
</div>
