<div fxLayout="column" fxLayoutAlign="center center">
  <div fxFlex>
    <ng-container *ngIf="loanedDevices">
      <loaner-greetings-card [userDisplayName]="user ? user.givenName : 'there'"
                             [hasDevices]="hasDevices">
      </loaner-greetings-card>
      <mat-tab-group [selectedIndex]="selectedTab">
        <mat-tab *ngFor="let device of loanedDevices">
          <ng-template mat-tab-label>
            <mat-icon>laptop_chromebook</mat-icon>
            {{ device.id }}
          </ng-template>
          <div fxLayout="column" fxLayoutAlign="center center">
            <loaner-loan-actions-card [device]="device">
              <loan-button extendButton
                           (done)="onExtended(device, $event)"></loan-button>
              <loan-button guestButton
                           (done)="onGuestModeEnabled(device)"></loan-button>
              <loan-button returnButton
                           (done)="onReturned(device)"></loan-button>
              <loan-button damagedButton
                           (done)="onDamaged(device, $event)"></loan-button>
              <loan-button lostButton (done)="onLost(device)"></loan-button>
            </loaner-loan-actions-card>
          </div>
        </mat-tab>
      </mat-tab-group>
    </ng-container>
  </div>
</div>
