@import '../../app';

.action-button {
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 12px;
  width: 150px;
}

mat-icon {
  vertical-align: middle;
}

mat-tab-group {
  width: 620px;
}

mat-card {
  width: 570px;
  text-align: center;
  margin-bottom: 1em;
}

loaner-greetings-card {
  margin-bottom: 1em;
}

.date-container {
  margin: 10px;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  background-color: mat-color($primary, lighter, .3);
  opacity: 1;
}

