@import '../../../assets/global';

$white-54-opacity: rgba(#fff, .54);

.nav-item {
  color: $white-54-opacity;
  max-width: 168px;
  min-width: 80px;
  outline: none;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.nav-item:hover {
  cursor: pointer;
}

.bottom-nav-bar {
  background: mat-color($primary);
  height: 56px;
}

.active {
  color: $white-87-opacity;
  padding-top: 6px;
}
