.label-wrapper {
  display: inline-block;
  margin: 5px;
  padding-bottom: 1.29688em;
  position: relative;
  text-align: left;
}

.top-label {
  color: rgba(0, 0, 0, .38);
  letter-spacing: -.02em;
}

.lower-label {
  color: rgba(0, 0, 0, .38);
  font-size: 18px;
  padding: .4375em 0;
}
