@import '../../themes/standard';

.return-animation {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 20px;
}

.animation-menu-icon {
  align-self: flex-end;
  opacity: .4;
  padding-right: 16px;
  position: absolute;
  z-index: 1;
}

.return-card {
  display: flex;
  flex-direction: column;
}

.return-icon {
  vertical-align: middle;
}

.return-text {
  font-size: 14px;
  font-style: bold;
  line-height: 200%;
}
