@import '../../themes/standard';


.return-card {
  display: flex;
  flex-direction: column;
}

.return-icon {
  vertical-align: middle;
}

.return-text {
  font-size: 14px;
  font-style: bold;
  line-height: 200%;
}
