
<div *ngIf="flow === flows.ONBOARDING" class="return-card">
  <mat-card tabindex="0" loaner-focus>
    <h1 class="card-title">
      Before you go!
    </h1>
    <p class="card-description">
      Below are some quick reminders about what to do when returning this
      device.
    </p>
    <p class="return-text">
      <mat-icon color="primary" class="return-icon">usb</mat-icon>
      Remove any devices you may have connected while using this device.
    </p>
    <p class="return-text">
      <mat-icon color="primary" class="return-icon">question_answer</mat-icon>
      Ready to return this device? Use the app on the drawer/shelf below.
    </p>
    <p class="return-text">
      <mat-icon color="primary" class="return-icon">done</mat-icon>
      Follows the steps to return this device.
    </p>
  </mat-card>
</div>
<div *ngIf="flow === flows.OFFBOARDING" class="return-card">
  <mat-card tabindex="0" loaner-focus>
    <h1 class="card-title">
      Thanks for using {{ programName }}!
    </h1>
    <p class="card-description">
      We hope you enjoyed using your {{  programName }} loaner. Below is an
      overview of some of the final steps to take before returning your device.
    </p>
    <p class="return-text">
      <mat-icon color="primary" class="return-icon">usb</mat-icon>
      Remove any devices you may have connected while using this device.
    </p>
    <p class="return-text">
      <mat-icon color="primary" class="return-icon">question_answer</mat-icon>
      Answer a quick question about your experience with this device.
    </p>
    <p class="return-text">
      <mat-icon color="primary" class="return-icon">done</mat-icon>
      Follow the remaining steps and we'll mark the device as pending return!
    </p>
  </mat-card>
</div>
